@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(90deg,
     rgba(65, 184, 131, 1) 0%,
     rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    height: 100%;
    width: 300px;
}

.loginForm input {
    background: inherit;
    border: none;
    border-bottom: 1px black solid;
}

.loginForm input::placeholder {
    color: rgba(0, 0, 0, 0.74);
}

#loginInputText {
    margin-bottom: 1rem;
}

.loginContainer h1 {
    text-align: center;
    text-transform: uppercase;
}

.between {
    padding: 1rem;
    margin-bottom: 0.2rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    width: 230px;
}

.buttonsContainer button {
    cursor: pointer;
    background: none;
    border: none;
    opacity: 0.6;
}

.buttonsContainer button:hover {
    background: linear-gradient(90deg,
     rgba(65, 184, 131, 1) 0%,
     rgba(0, 212, 255, 1) 100%
    );
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-radius: 15px;
    opacity: 1;
}

.buttonsContainer a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.footerText {
    bottom: 0;
    position: fixed;

}